<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
    <title>#</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="../../../../public/static/admin/style/bootstrap.css" rel="stylesheet">
    <link href="../../../../public/static/admin/style/font-awesome.css" rel="stylesheet">
    <link href="../../../../public/static/admin/style/weather-icons.css" rel="stylesheet">

    <!--Beyond styles-->
    <link id="beyond-link" href="../../../../public/static/admin/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="../../../../public/static/admin/style/demo.css" rel="stylesheet">
    <link href="../../../../public/static/admin/style/typicons.css" rel="stylesheet">
    <link href="../../../../public/static/admin/style/animate.css" rel="stylesheet">
    
</head>
<body>
	<!-- 头部 -->
    {include file="common/header"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
           {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">用户管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('cate/add')}'"> <i class="fa fa-plus"></i> Add
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <form action="" method="POST">
                        <table class="table table-bordered table-hover">
                            <thead class="">
                                <tr>
                                    <th class="text-center" width="10%">ID</th>
                                    <th class="text-center" width="5%">排序</th>
                                    <th class="text-center" width="20%">栏目名称</th>
                                    <th class="text-center" width="20%">栏目类型</th>
                                    <th class="text-center" width="20%">上级栏目</th>
                                    <th class="text-center" width="">测试</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {volist name='cateres' id='cateres'}
                                <tr>
                                    <td align="center">{$cateres.id}</td>
                                    <td align="center"><input type="text" name="{$cateres.id}" style="width: 50px;" value="{$cateres.sort}"></td>
                                    <td><?php echo str_repeat('-',$cateres['level']*8)?>{$cateres.catename}</td>
                                    <td align="center">{if condition="$cateres['type'] eq 1"}列表{else/}单页{/if}</td>
                                    <td align="center">{$cateres.pid}</td>
                                    <td align="center"><a onclick="changestatus(this)" href="#" class="btn btn-primary btn-sm shiny changestatus">测试</a></td>
                                    <td align="center">
                                        <a href="{:url('cate/edit',array('id'=>$cateres['id']))}" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="#" onClick="warning('确实要删除吗','{:url('cate/del',array('id'=>$cateres['id']))}')" class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/volist}   
                                <tr>
                                    <td></td>
                                    <td align="center"><button  class="btn btn-primary btn-sm shiny" value="排序"  type="submit" style="width: 50px;">排序</button></td>
                                </tr>                      
                            </tbody>
                        </table>
                    </form>
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="../../../../public/static/admin/style/jquery_002.js"></script>
    <script src="../../../../public/static/admin/style/bootstrap.js"></script>
    <script src="../../../../public/static/admin/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="../../../../public/static/admin/style/beyond.js"></script>
    <script src="../../../../public/static/admin/js/test.js"></script>
    <script src="../../../../public/static/admin/layer/layer.js"></script>
    

    <!-- <script>
        function changestatus(o)
        {
            layer.msg('请先上传图片');
        }
    </script> -->
</body></html>