<!DOCTYPE html>
<html xmlns="##">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Front</title>
<meta name="description" content="#" />
<meta name="keywords" content="#" />
<link href="__PUBLIC__/style/test.css" rel="stylesheet" type="text/css">

<script src="__PUBLIC__/style/jquery-1.12.4.js"></script>
<script>
      
</script>

</head>
<body>
        <div class="f">
                <div class="s"></div>
        </div>
</body>
<script src="__PUBLIC__/style/test.js"></script>
</html>